In [14]:
# libraries import
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
# dataset path
DATASET_PATH = "https://github.com/divyanshu1610/network-intrusion-detection-project/blob/main/kddcup.data_10_percent.gz?raw=true"
COL_NAMES_PATH = "https://raw.githubusercontent.com/divyanshu1610/network-intrusion-detection-project/main/kddcup.names"
ATTACK_TYPE_NAME_PATH = "https://raw.githubusercontent.com/divyanshu1610/network-intrusion-detection-project/main/training_attack_types"

In [16]:
column_names_df = pd.read_csv(COL_NAMES_PATH, header=None, sep=':',skiprows=[0])[0]
column_names_df = column_names_df.append(pd.Series(['target']), ignore_index=True)
column_names_df

0                        duration
1                   protocol_type
2                         service
3                            flag
4                       src_bytes
5                       dst_bytes
6                            land
7                  wrong_fragment
8                          urgent
9                             hot
10              num_failed_logins
11                      logged_in
12                num_compromised
13                     root_shell
14                   su_attempted
15                       num_root
16             num_file_creations
17                     num_shells
18               num_access_files
19              num_outbound_cmds
20                  is_host_login
21                 is_guest_login
22                          count
23                      srv_count
24                    serror_rate
25                srv_serror_rate
26                    rerror_rate
27                srv_rerror_rate
28                  same_srv_rate
29                  diff_srv_rate
30             srv_diff_host_rate
31                 dst_host_count
32             dst_host_srv_count
33         dst_host_same_srv_rate
34         dst_host_diff_srv_rate
35    dst_host_same_src_port_rate
36    dst_host_srv_diff_host_rate
37           dst_host_serror_rate
38       dst_host_srv_serror_rate
39           dst_host_rerror_rate
40       dst_host_srv_rerror_rate
41                         target
dtype: object

In [17]:
print(len(column_names_df))

42

In [18]:
attack_types_df = pd.read_csv(ATTACK_TYPE_NAME_PATH, header=None, sep=' ')
attack_types = {
'normal': 'normal',
'back': 'dos',
'buffer_overflow': 'u2r',
'ftp_write': 'r2l',
'guess_passwd': 'r2l',
'imap': 'r2l',
'ipsweep': 'probe',
'land': 'dos',
'loadmodule': 'u2r',
'multihop': 'r2l',
'neptune': 'dos',
'nmap': 'probe',
'perl': 'u2r',
'phf': 'r2l',
'pod': 'dos',
'portsweep': 'probe',
'rootkit': 'u2r',
'satan': 'probe',
'smurf': 'dos',
'spy': 'r2l',
'teardrop': 'dos',
'warezclient': 'r2l',
'warezmaster': 'r2l',
}
attack_types

{'back': 'dos',
 'buffer_overflow': 'u2r',
 'ftp_write': 'r2l',
 'guess_passwd': 'r2l',
 'imap': 'r2l',
 'ipsweep': 'probe',
 'land': 'dos',
 'loadmodule': 'u2r',
 'multihop': 'r2l',
 'neptune': 'dos',
 'nmap': 'probe',
 'normal': 'normal',
 'perl': 'u2r',
 'phf': 'r2l',
 'pod': 'dos',
 'portsweep': 'probe',
 'rootkit': 'u2r',
 'satan': 'probe',
 'smurf': 'dos',
 'spy': 'r2l',
 'teardrop': 'dos',
 'warezclient': 'r2l',
 'warezmaster': 'r2l'}

In [19]:
columns = column_names_df.values
dataset = pd.read_csv(DATASET_PATH, compression='gzip', header=None, quotechar='"', error_bad_lines=False, names=columns)
dataset['attack_type'] = dataset.target.apply(lambda r:attack_types[r[:-1]])

dataset.head()

   duration protocol_type  ...   target attack_type
0         0           tcp  ...  normal.      normal
1         0           tcp  ...  normal.      normal
2         0           tcp  ...  normal.      normal
3         0           tcp  ...  normal.      normal
4         0           tcp  ...  normal.      normal

[5 rows x 43 columns]

In [20]:
dataset.shape

(494021, 43)

In [21]:
dataset['target'].value_counts()

smurf.              280790
neptune.            107201
normal.              97278
back.                 2203
satan.                1589
ipsweep.              1247
portsweep.            1040
warezclient.          1020
teardrop.              979
pod.                   264
nmap.                  231
guess_passwd.           53
buffer_overflow.        30
land.                   21
warezmaster.            20
imap.                   12
rootkit.                10
loadmodule.              9
ftp_write.               8
multihop.                7
phf.                     4
perl.                    3
spy.                     2
Name: target, dtype: int64

In [22]:
dataset['attack_type'].value_counts()

dos       391458
normal     97278
probe       4107
r2l         1126
u2r           52
Name: attack_type, dtype: int64

DATA PREPROCESSING

In [23]:
dataset.isnull().sum()

duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
target                         0
attack_type                    0
dtype: int64

In [24]:
#Finding categorical features
num_cols = dataset._get_numeric_data().columns

cate_cols = list(set(dataset.columns)-set(num_cols))
cate_cols.remove('target')
cate_cols.remove('attack_type')

cate_cols

['protocol_type', 'flag', 'service']

DATA CORRELATION

In [26]:
dataset = dataset.dropna('columns')

#Keep columns where there are more than 1 unique values
dataset = dataset[[col for col in dataset if dataset[col].nunique() > 1]]

In [27]:
dataset['num_root'].corr(dataset['num_compromised'])

0.9938277978737916

In [28]:
dataset['srv_serror_rate'].corr(dataset['serror_rate'])

0.998361507272553

In [29]:
dataset['srv_count'].corr(dataset['count'])

0.9436670688882645

In [30]:
dataset['srv_rerror_rate'].corr(dataset['rerror_rate'])

0.9947309539818242

In [32]:
dataset['dst_host_same_srv_rate'].corr(dataset['dst_host_srv_count'])

0.9736854572953835

In [33]:
dataset['dst_host_srv_serror_rate'].corr(dataset['dst_host_serror_rate'])

0.9981559173373293

In [34]:
dataset['dst_host_srv_rerror_rate'].corr(dataset['dst_host_rerror_rate'])

0.9848038371110285

In [35]:
dataset['dst_host_same_srv_rate'].corr(dataset['same_srv_rate'])

0.9278080342690969

In [39]:
dataset['dst_host_srv_count'].corr(dataset['same_srv_rate'])

0.8989546630323716

In [40]:
dataset['dst_host_same_src_port_rate'].corr(dataset['srv_count'])

0.944926367678324

In [41]:
dataset['dst_host_serror_rate'].corr(dataset['serror_rate'])

0.9986729680104371

In [42]:
dataset['dst_host_serror_rate'].corr(dataset['srv_serror_rate'])

0.9978353003739603

In [43]:
dataset['dst_host_srv_serror_rate'].corr(dataset['serror_rate'])

0.997849248567986

In [44]:
dataset['dst_host_srv_serror_rate'].corr(dataset['srv_serror_rate'])

0.999304109185027

In [45]:
dataset['dst_host_rerror_rate'].corr(dataset['rerror_rate'])

0.986994792495618

In [46]:
dataset['dst_host_rerror_rate'].corr(dataset['srv_rerror_rate'])

0.9821663427308264

In [47]:
dataset['dst_host_srv_rerror_rate'].corr(dataset['rerror_rate'])

0.9851995540751695

In [48]:
dataset['dst_host_srv_rerror_rate'].corr(dataset['srv_rerror_rate'])

0.9865705438845764

In [50]:
#This variable is highly correlated with num_compromised and should be ignored for analysis.
#(Correlation = 0.9938277978738366)
dataset.drop('num_root',axis = 1,inplace = True)

#This variable is highly correlated with serror_rate and should be ignored for analysis.
#(Correlation = 0.9983615072725952)
dataset.drop('srv_serror_rate',axis = 1,inplace = True)

#This variable is highly correlated with rerror_rate and should be ignored for analysis.
#(Correlation = 0.9947309539817937)
dataset.drop('srv_rerror_rate',axis = 1, inplace=True)

#This variable is highly correlated with srv_serror_rate and should be ignored for analysis.
#(Correlation = 0.9993041091850098)
dataset.drop('dst_host_srv_serror_rate',axis = 1, inplace=True)

#This variable is highly correlated with rerror_rate and should be ignored for analysis.
#(Correlation = 0.9869947924956001)
dataset.drop('dst_host_serror_rate',axis = 1, inplace=True)

#This variable is highly correlated with srv_rerror_rate and should be ignored for analysis.
#(Correlation = 0.9821663427308375)
dataset.drop('dst_host_rerror_rate',axis = 1, inplace=True)

#This variable is highly correlated with rerror_rate and should be ignored for analysis.
#(Correlation = 0.9851995540751249)
dataset.drop('dst_host_srv_rerror_rate',axis = 1, inplace=True)

#This variable is highly correlated with srv_rerror_rate and should be ignored for analysis.
#(Correlation = 0.9865705438845669)
dataset.drop('dst_host_same_srv_rate',axis = 1, inplace=True)

In [52]:
dataset.head()

   duration protocol_type  ...   target attack_type
0         0           tcp  ...  normal.      normal
1         0           tcp  ...  normal.      normal
2         0           tcp  ...  normal.      normal
3         0           tcp  ...  normal.      normal
4         0           tcp  ...  normal.      normal

[5 rows x 33 columns]

In [53]:
dataset.shape

(494021, 33)

In [54]:
dataset.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_file_creations', 'num_shells', 'num_access_files',
       'is_guest_login', 'count', 'srv_count', 'serror_rate', 'rerror_rate',
       'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate',
       'dst_host_count', 'dst_host_srv_count', 'dst_host_diff_srv_rate',
       'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate', 'target',
       'attack_type'],
      dtype='object')

In [55]:
dataset_std = dataset.std()
dataset_std = dataset_std.sort_values(ascending = True)
dataset_std

urgent                              0.005510
land                                0.006673
su_attempted                        0.007793
root_shell                          0.010551
num_shells                          0.011020
num_failed_logins                   0.015520
num_access_files                    0.036482
is_guest_login                      0.037211
dst_host_srv_diff_host_rate         0.042133
diff_srv_rate                       0.082205
num_file_creations                  0.096416
dst_host_diff_srv_rate              0.109259
wrong_fragment                      0.134805
srv_diff_host_rate                  0.142397
rerror_rate                         0.231623
logged_in                           0.355345
serror_rate                         0.380717
same_srv_rate                       0.388189
dst_host_same_src_port_rate         0.481309
hot                                 0.782103
num_compromised                     1.798326
dst_host_count                     64.745380
dst_host_srv_count                106.040437
count                             213.147412
srv_count                         246.322817
duration                          707.746472
dst_bytes                       33040.001252
src_bytes                      988218.101045
dtype: float64

FEATURE MAPPING

In [56]:
dataset['protocol_type'].value_counts()

icmp    283602
tcp     190065
udp      20354
Name: protocol_type, dtype: int64

In [58]:
#protocol_type feature mapping
pmap = {'icmp':0,'tcp':1,'udp':2}
dataset['protocol_type'] = dataset['protocol_type'].map(pmap)

In [59]:
dataset['flag'].value_counts()

SF        378440
S0         87007
REJ        26875
RSTR         903
RSTO         579
SH           107
S1            57
S2            24
RSTOS0        11
S3            10
OTH            8
Name: flag, dtype: int64

In [60]:
fmap = {'SF':0,'S0':1,'REJ':2,'RSTR':3,'RSTO':4,'SH':5 ,'S1':6 ,'S2':7,'RSTOS0':8,'S3':9 ,'OTH':10}
dataset['flag'] = dataset['flag'].map(fmap)

In [61]:
dataset.head()

   duration  protocol_type  ...   target  attack_type
0         0              1  ...  normal.       normal
1         0              1  ...  normal.       normal
2         0              1  ...  normal.       normal
3         0              1  ...  normal.       normal
4         0              1  ...  normal.       normal

[5 rows x 33 columns]

In [62]:
dataset.drop('service', axis = 1, inplace = True)

In [63]:
dataset.shape

(494021, 32)

In [64]:
dataset.head()

   duration  protocol_type  ...   target  attack_type
0         0              1  ...  normal.       normal
1         0              1  ...  normal.       normal
2         0              1  ...  normal.       normal
3         0              1  ...  normal.       normal
4         0              1  ...  normal.       normal

[5 rows x 32 columns]

Scaling and Dataset Splitting

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

In [66]:
dataset = dataset.drop(['target',], axis=1)
print(dataset.shape)

# Target variable and train set
Y = dataset[['attack_type']]
X = dataset.drop(['attack_type',], axis=1)

sc = MinMaxScaler()
X = sc.fit_transform(X)

# Split test and train data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
print(X_train.shape, X_test.shape)
print(Y_train.shape, Y_test.shape)

(494021, 31)
(330994, 30) (163027, 30)
(330994, 1) (163027, 1)

MODELLING